.input-box {
    width: 100%;
    height: 50px;
    margin: 16px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    padding: 0 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-box input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}
