
h1 {
    text-align: center
}

p {
    text-align: center
}

h1 {
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}

p {
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

.navigation {
    background-color: darksalmon;
}

.navigation li {
    float: left;
    list-style: none;

}

.navigation ul {
    overflow: auto;
    padding:12px;
    margin: 0;
}

.navigation ul li a {
    color: whitesmoke;
    text-decoration: none;
    padding: 27px;
    font-weight: bold;
    margin:0px;
    justify-content: center;
    
}
.navigation ul li a:hover {
    background-color:firebrick;
}

body {
    justify-content: center;
    background:antiquewhite;
    margin: 10px;
    align-items: center;

}
.row{
    margin: auto;
    width: 43%;
    justify-content: center;
    text-align: center;
}
h2 {
    text-align: center;
}
.container-form {
    display: flex;
    background: darksalmon;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 620px;
}
.control-group{
    color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.row {
    color: brown;
    font-weight: bold;
    font-family: verdana;
    width: 350px;
}
.btn-primary {
    color: darksalmon;
    text-decoration: none;
    background: coral;
    border-radius: 30px;
    font-family: verdana;
    font-weight: bold;
    width: 100px;
    height: 80px;
    font-size: 90%;
}
.form-group{
    color: brown;
}
.form-group-col-md-12{
    color: black;
}

input {
    background-color: transparent;
    border: 2px solid pink;
    height: 30px;
    width: 200px;
    color: darksalmon;
    border-radius: 30px;
}