.button {
    background-color: #04AA6D;
    /* light purple */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    text-align: center
}

p {
    text-align: center
}

h1 {
    color: plum;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}

p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}


.navigation {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}

.navigation li {
    list-style: none;
    padding: 0 15px; /* Adds spacing between items */
}


.navigation ul {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Aligns items vertically */
    padding: 10px;
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}


.navigation ul li a {
    color: navy;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
    margin:0px;
    font-size: 16px;
    display: inline-block;
    font-family: verdana;
    transition: transform 0.5s;
    
}

body {
    margin:0;
    background: url("night-sky-with-stars-and-clouds-cartoon-animation-relaxing-dark-skies-4k-motion-graphic-cloudy-evening-heaven-2d-animated-background-full-frame-after-hours-aesthetic-lofi-live-wallpaper-video.jpg");
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: pink;
    background-size: cover;
    height: 100vh;
}
p2 {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: brown;
    float: center;
}

.navigation ul li a:hover {
   transform: scale(.85);
   color: whitesmoke;
}