* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body {
    background: url('pngtree-clouds-sky-cartoon-creative-illustration-cute-sky-background-image_2204268.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}
  .select-box,
  .play-board,
  .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
  .select-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
  }
  .select-box.hide {
    opacity: 0;
    pointer-events: none;
  }
  .select-box header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-family: verdana;
    color: #404773;
    text-align: center;
  }
  .select-box .title {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
    color: #404773;
    font-family: Verdana;
    font-weight: 600;
    text-align: center;
  }
  .select-box .options {
    display: flex;
    width: 100%;
    opacity: 0.8;
  }
  .options button {
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: verdana;
    opacity: 0.9;
  }
  .options button:hover,
  .btn button:hover {
    background: rgba(255, 255, 255, 0.3);
    scale: 0.89;
  }
  .options button.playerX {
    margin-right: 5px;
  }
  .options button.playerO {
    margin-left: 5px;
  }
  .select-box .credit {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
  }
  .select-box .credit a {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
  }
  .select-box .credit a:hover {
    text-decoration: underline;
  }
  .play-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }
  .play-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .play-board .details {
    padding: 7px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
  }
  .play-board .players {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .players span {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    cursor: default;
    user-select: none;
    transition: all 0.3 ease;
  }
  .players.active span:first-child {
    color: gold;
  }
  .players.active span:last-child {
    color: navy;
  }
  .players span:first-child {
    color: gold;
  }
  .players .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .players.active .slider {
    left: 50%;
  }
  .players.active span:first-child {
    color: white;
  }
    .players.active span:nth-child(2) {
        color: white;
    }
  .players.active span:nth-child(2) {
    color: navy;
  } 
  .players.active .slider {
    left: 50%;
  }
  .play-area {
    margin-top: 20px;
  }
  .play-area section {
    display: flex;
    margin-bottom: 1px;
  }
  .play-area section span {
    display: block;
    height: 90px;
    width: 90px;
    margin: 2px;
    color: #5372F0;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
  }
  .result-box {
    padding: 25px 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    opacity: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
  }
  .result-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
  }
  .result-box .won-text {
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: verdana;
    font-weight: 600;
    color: #404773;
  }
  .result-box .won-text p {
    font-weight: 600;
    margin: 0 5px;
  }
  .result-box .btn {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .btn button {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 20px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: verdana;
  }
  .typcn--weather-cloudy {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%239a9a9a' d='M17 19H6c-2.206 0-4-1.794-4-4a4.01 4.01 0 0 1 3.001-3.874L5 11c0-3.309 2.691-6 6-6a5.97 5.97 0 0 1 5.65 4.015C19.592 8.769 22 11.128 22 14c0 2.757-2.243 5-5 5M5.905 12.994C4.897 13 4 13.897 4 15s.897 2 2 2h11c1.654 0 3-1.346 3-3s-1.346-3-3-3c-.243 0-.5.041-.81.13l-1.075.307l-.186-1.103A3.98 3.98 0 0 0 11 7a4.004 4.004 0 0 0-3.918 4.811l.244 1.199z'/%3E%3C/svg%3E");
  }
 
  .play-board i.fa-sun {
    color: gold;
  }
    .play-board i.fa-moon { 
    color: navy;
 }
 .home-button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    color: navy;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
    font-family: verdana;
}